* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.gradient__bg {
  background: linear-gradient(
    -45deg,
    #0b7466,
    #040348f9,
    #09020eee,
    #045252ef,
    #091c1eec
  );

  filter: drop-shadow(5px 5px 10px rgb(36, 37, 104));
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.gradient-text {
  background: var(--gradient-text);
  color: #fff;
  background-clip: text;
  --webkit-background-clop: text;
  -webkit-text-fill-color: transparent;
}
body {
  background: var(--color-bg);
  text-decoration: none;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
